<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe❤️</title>
    <link rel="stylesheet" href="/static/launch.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <section><h1><b>Let's Start!!🏅</b></h1>
        <div class="row"><form method="POST">
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <input class="fo" type="text"  id="name" name="name" placeholder="name" >
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div><input class="fo" type="text" id="username" name="username" placeholder="name">
            <div >
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div><input class="fo" id="but" type="submit" value="Play..." style="margin-left: 1400px;padding: 10px;">
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
            <div>
                <i class="bi bi-dice-2" aria-hidden="true"></i>
                <i class="bi bi-joystick" aria-hidden="true"></i>
                <i class="bi bi-activity" aria-hidden="true"></i>
                <i class="bi bi-balloon-heart-fill" aria-hidden="true"></i>
                <i class="bi bi-ear" aria-hidden="true"></i>
                <i class="bi bi-airplane" aria-hidden="true"></i>
                <i class="bi bi-amd" aria-hidden="true"></i>
                <i class="bi bi-app-indicator" aria-hidden="true"></i>
                <i class="bi bi-archive" aria-hidden="true"></i>
                <i class="bi bi-arrow-down-right-circle" aria-hidden="true"></i>
                <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <i class="bi bi-badge-tm" aria-hidden="true"></i>
                <i class="bi bi-badge-wc" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                <i class="bi bi-bar-chart-steps" aria-hidden="true"></i>
                <i class="bi bi-bezier2" aria-hidden="true"></i>
                <i class="bi bi-binoculars"></i>
                <i class="bi bi-boxes"></i>
                <i class="bi bi-brightness-low"></i>
                <i class="bi bi-bug"></i>
            </div>
        </form>
        </div>
    </section>
</body>
</html>